* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9f9f9f;
  text-align: center;
}

#calc-container {
  background-color: #2f2f2f;
  border-color: #dddddd;
  border-style: solid;
  height: 400px;
  margin: 0 auto;
  padding-top: 12px;
  width: 295px;
}

#output-container,
#btn-container {
  width: 95%;
}

#output-container {
  border-color: #dddddd;
  border-style: solid;
  height: 16%;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 83%;
  justify-items: center;
  aling-content: center;
  margin: 0 auto;
}

.btn {
  color: #ffffff;
  font-size: 1.5em;
  height: 55px;
  width: 55px;
}

#history,
#main-display {
  background-color: #2f2f2f;
  margin: 0 auto;
  text-align: right;
  width: 95%;
}

#main-display {
  color: #ffffff;
  font-size: 1.6em;
  height: 55%;
}

#history {
  color: #aaaaaa;
  font-size: 1em;
  height: 40%;
}

#add {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 7;
  height: 115px;
}

#equals {
  background-color: #000077;
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 7;
  height: 115px;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  width: 125px;
}

#clear {
  background-color: #880000;
  background-image: url("img/delete-512.webp");
  background-size: cover;
}

.operator {
  background-color: #bb3a00;
}

.number {
  background-color: #2f2f2f;
}

#equals:disabled,
#point:disabled {
  background-color: #000011;
}
